
.blogContainer{
  max-width: 1110px;
  margin: 0 auto;
  padding: 40px 0 160px 0; 
  @include pad{
    padding: 32px 39px 96px 39px;
  }
  @include mobile{
    padding: 28px 15px 56px 15px;
  }
}
.blognavWrap{
  background-color: $secondary;
  @include pad{
    padding: 0 39px 0 39px;
  }
  @include mobile{
    padding: 0 ;
  }
  .blogNav{
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    margin: 0 auto;
    }
}


.blogMenu{
  display: flex;
  @include mobile{
    flex-wrap: wrap;
    width:100%;
  }
li{ 
  margin-left: 28px;
  &:nth-child(1){
    margin-left: 0;
  }
  @include pad{
    margin-left: 12px;
  }
  @include mobile{
    margin: 0;
    text-align: center;
    outline: 1px solid $secondary;
    width: 25%;
  }
  a{
    padding: 12px;
    font-size: $fz-3;
    line-height: 1.2;
    &:hover{
      background-color: #fff;
      color: $secondary;
      font-weight: bold;
    }
    @include pad{
      font-size: $fz-2;
      line-height: 1.5;
    }
    @include mobile{
    padding: 16px 0;
  }
  }
}
}

.search{
@include mobile{
display:none;
}
}

.blogItem{
display: flex;
margin-bottom: 60px;
@include pad{
margin-bottom: 24px;
}
@include mobile{
flex-wrap: wrap;
margin-bottom: 20px;
}
img{
width: 57% ;
margin-right: 30px;
@include pad{
  width: 48%;
}
@include mobile{
  width: 100%;
}
}
}




.blogWrap{
display: flex;
flex-direction: column;
justify-content: space-between;
width: 100%;
.more{
text-align: right;
font-size: $fz-9;
line-height: 1.5;
color:$primary;
font-weight: bold;
@include pad{
  font-size: $fz-1;
  line-height: 1.5;
  color: $black-800;
}
@include mobile{
  display:none;
}
}
}

.blogTitle{
h3{
font-size: $fz-7;
line-height: 2;
font-weight: bold;
color: $secondary;
@include pad{
  font-size: $fz-3;
}
}
}

.blogSubTitle{
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 24px;
@include pad{
margin-bottom: 32px;
}
@include mobile{
margin-bottom: 0;
}
.blogCata{
font-weight: bold;
font-size: $fz-3;
line-height: 30px;
p{
    @include pad{
    font-size: $fz-1;
  }
}
@include pad{
  font-size: $fz-2;
 }
 }
} 

.blogIntro{
font-size: $fz-3;
line-height: 1.5;
@include pad{
  font-size: $fz-1;
  line-height: 1.5;
}
@include mobile{
  display:none;
}
} 