.faq h3{
    font-size: $fz-7;
    line-height: 2;
    font-weight: bold;
    margin-bottom: 36px;
    @include pad{
      margin-bottom: 32px;
    }
  }
  
.questions li{
    margin-bottom: 32px;
    &:nth-last-child(1){
        margin-bottom: 0;
    }
    @include pad{
    margin-bottom: 24px;
    }
    h4{
    font-size: $fz-3;
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: 16px;
    @include mobile {
    font-size: $fz-2;
    line-height: 1.5;
    margin-bottom: 8px;
    }
    p{
        font-size: $fz-2;
        line-height: 1.5;
        margin-left: 95px;
        @include pad{
            margin-left: 50px;
        }
        @include mobile{
            font-size: $fz-1;
            line-height: 1.5;
            margin-left: 0;
        }
        }
    }
}
