.selectStore{
  display: flex;
  align-items: center;
  margin-bottom: $fz-7;
  p{
    font-size: $fz-3;
    line-height: 1.5;
    @include pad{
      font-size: $fz-2;
    }
    @include mobile{
      width: 20%;
      font-size: $fz-1;
    }
    
  }
  .stores{
    margin-left: 22px;
    width: 29%;
    padding: 9px 19px;
    @include pad{
      padding: 12px 16px;
      width: 31%;
    }
    @include mobile{
      margin-left: 12px;
      width: 80%;
    }
    option{
      font-size: $fz-2-5;
      line-height: 1.5;
      padding: 9px 19px;
    }
  }
}


.infostore{
  display: flex;
  flex-wrap: wrap;
  @include pad{
    justify-content: space-between;
  }
}

