.infoMapCenter{
    flex-wrap: nowrap;
    justify-content: space-between;
    @include pad{
      flex-wrap: wrap;
    }
  }
  
  
.sitecardCenter{
width: 40%;
@include pad{
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 0;
    margin-right: 0;
}
@include mobile{
    flex-direction: column;
    &:nth-last-child(2){
    margin-bottom: 0px;
    }
}
img{
    @include pad{
    width: 50%;
    margin-right: 30px;
    }
    @include mobile{
    width: 100%;
    margin-right: 0;
    }
}
}
  
.googleMap {
overflow: hidden;
    iframe{
    @include size(670px,456px);
    display:block;
    @include pad{
        margin-top: 32px;
        @include size(670px,422px);
    }
    @include mobile{
        @include size(670px,211px);
    }
}
}