.footer{
    background-color: $primary;
  }
  
.container{
  max-width :1110px;
  margin: 0 auto;
  padding: 44px 0 39px 0; 
  @include pad{
    padding: 38px 39px 32px 39px;
  }
  @include mobile{
    padding: 25px 15px 24px 15px;
  }
}
  
  .footer-body{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
.nav-phone{
  .menu{
      display: flex;
      margin-bottom: 36px;
      @include pad{
      margin-bottom: 18px;
      }
      @include mobile{
      display: none;
      margin-bottom: 0;
      } 
      li{
      &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4){
          margin-right: 28px;
          @include pad{
          margin-right: 20px;
        }
      }
      a{
          padding: 10px;
          &:hover{
          background-color: #fff;
          color: $primary;
          border-radius: 10px;     
        }
      }
    }
  }
}
  
  .contact-method{
    margin-bottom: 24px;
    @include pad{
      margin-bottom: 20px;
    }
    li{
      display: flex;
      &:nth-child(1){
          margin-bottom: 16px;
          @include pad{
          margin-bottom: 12px;
          }
      }
      a{
          display: flex;
          align-items: center;
          font-size: 36px;
          line-height: 1.5;
          @include pad{
          font-size: 20px;
          line-height: 1.5;
          }
          @include mobile{
          font-size: 16px;
          }
          &:hover{
          color: $secondary;
          }
          img{
              @include size(36px,36px);
              margin-right: 22px;
              @include pad{
              @include size(18px,18px);
              margin-right: 11px;
              }
              @include mobile{
              @include size(15px,15px);
              margin-right: 6.5px;
          }
        }
      }
    }
  }
  
  
  .social-media{
    display: flex;
    li{
      &:nth-child(1),&:nth-child(2){
        margin-right: 32px;
        @include pad{
          margin-right: 24px;
        }
      }
      img{
        @include size(48px,48px);
        @include pad{
          @include size(24px,24px);
        }
      }
    }
  }
  
  hr{
    border: solid 1px  white;
    //去除hr間隙
    border-bottom: 0px;
    border-left: 0px;
    margin-bottom: 32px;
    @include pad{
      margin-bottom: 16px;
    }
  }
  
  .copyright{
    p{
      color: white;
      @include mobile{
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 8px;
      }
    }
  }
  
  .clause{
    display: flex;
    justify-content: flex-end;
    @include mobile{
      flex-direction: column;
      justify-content: flex-start;
    }
    a{
      margin-left: 24px;
      &:hover{
        color: $secondary;
      }
      @include mobile{
        margin: 0;
        &:nth-child(1){
          margin-bottom: 8px;
        }
      }
    }
  }
  
  