.intro{
  background-color: $tertiary;
  .service{
    display: flex;
    justify-content: space-between;
    @include pad{
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    li{
      max-width:255px;
      text-align: center;
      @include pad{
        width:50%;
        &:nth-child(1), &:nth-child(2){
          margin-bottom: 57px;
        }
      }
      @include mobile{
        width: 100%;
        &:nth-child(1), &:nth-child(2), &:nth-child(3){
          margin-bottom: 40px;
        }
      }
      img{
        @include size(84px,84px);
        margin-bottom: 24px;
      }
      h3{
        font-size: 24px;
        line-height: 1.5;
        color:$secondary;
        font-weight: bold;
        margin-bottom: 8px;
      }
      p{ 
        text-align: left;
      }
  }
 }
}
