.joint-design{
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true");
  @include img;
  .container{
    h2{
      color: white;
    }
  }
}
      
.items{
    display: flex;
    justify-content: space-between;
    @include mobile{
    flex-wrap: wrap;
    }
    li{
    position: relative;
    @include pad{
        width: 50%;
    }
    @include mobile{
        width: 100%;
        margin-bottom: 16px;
    }    
    &:before{
        @include size(100%,100%);
        content:"";
        position: absolute;
        display: inline-block;
        top: 0%;
        background-color: rgba(white,0.5);
    }
    h3 {
        font-size: 72px;
        line-height: 1.5;
        color: $primary;
        font-weight: bold;
        @include center;
        @include pad{
          font-size: 32px;
          line-height: 25px;
        }
    }
  }
}
          
.pic1{
margin-right: 30px;
@include mobile{
    margin-right: 0;
}
  h3{
    width: 100%;
    text-align: center;
  }
}