/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none; }

.fz-s {
  font-size: 14px;
  line-height: 1.5; }

body {
  font-family: 'Noto Sans TC', sans-serif; }

a {
  display: block;
  color: white;
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

p {
  font-size: 16px;
  line-height: 1.5; }

h2 {
  text-align: center;
  font-size: 48px;
  line-height: 1.5;
  font-weight: bold;
  color: #650300;
  margin-bottom: 48px; }
  @media (max-width: 768px) {
    h2 {
      font-size: 32px;
      line-height: 1.5;
      margin-bottom: 40px; } }
  @media (max-width: 414px) {
    h2 {
      font-size: 24px;
      margin-bottom: 28px; } }

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 60px 0 80px 0; }
  @media (max-width: 768px) {
    .container {
      padding: 40px 39px 56px 39px; } }
  @media (max-width: 414px) {
    .container {
      padding: 32px 15px 40px 15px; } }

.banners-optical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .banners-optical img {
    width: 50%; }

.products-container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 80px 0 160px 0; }
  @media (max-width: 768px) {
    .products-container {
      padding: 56px 39px 96px 39px; } }
  @media (max-width: 414px) {
    .products-container {
      padding: 32px 15px 56px 15px; } }

.products-title {
  text-align: center;
  font-size: 48px;
  line-height: 63px;
  font-weight: bold;
  color: #000;
  margin-bottom: 40px; }
  @media (max-width: 768px) {
    .products-title {
      font-size: 32px;
      line-height: 1.5;
      margin-bottom: 40px; } }
  @media (max-width: 414px) {
    .products-title {
      font-size: 20px;
      margin-bottom: 28px; } }
  .products-title span {
    font-size: 32px;
    line-height: 1.5;
    line-height: 1.5; }
    @media (max-width: 768px) {
      .products-title span {
        font-size: 24px; } }
    @media (max-width: 414px) {
      .products-title span {
        font-size: 16px; } }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #AA0601;
  padding: 30px 88px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2; }
  @media (max-width: 768px) {
    .header {
      padding: 30px 39px; } }
  @media (max-width: 414px) {
    .header {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding: 0; } }
  @media (max-width: 414px) {
    .header .logo {
      margin: 0 auto;
      padding: 10px 0; } }
  .header .logo a {
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true");
    width: 80px;
    height: 48.57px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap; }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 414px) {
      .header .menu {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 100%; } }
    .header .menu li {
      margin-left: 44px;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .header .menu li:nth-child(1) {
        margin-left: 0; }
      @media (max-width: 768px) {
        .header .menu li {
          margin-left: 20px; }
          .header .menu li:nth-child(1) {
            margin-left: 0; } }
      @media (max-width: 414px) {
        .header .menu li {
          margin: 0;
          text-align: center;
          outline: 1px solid #fff;
          width: 50%; } }
      .header .menu li a {
        padding: 10px;
        font-size: 20px;
        line-height: 1.5; }
        .header .menu li a:hover {
          background-color: #fff;
          color: #AA0601;
          border-radius: 10px; }
        @media (max-width: 414px) {
          .header .menu li a {
            padding: 7.5px 0; }
            .header .menu li a:hover {
              border-radius: 0; } }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 414px) {
    .menu {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 100%; } }
  .menu li {
    margin-left: 44px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .menu li:nth-child(1) {
      margin-left: 0; }
    @media (max-width: 768px) {
      .menu li {
        margin-left: 20px; } }
    @media (max-width: 414px) {
      .menu li {
        margin: 0;
        text-align: center;
        outline: 1px solid #fff;
        width: 50%; } }

.footer {
  background-color: #AA0601; }

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 44px 0 39px 0; }
  @media (max-width: 768px) {
    .container {
      padding: 38px 39px 32px 39px; } }
  @media (max-width: 414px) {
    .container {
      padding: 25px 15px 24px 15px; } }

.footer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.nav-phone .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 36px; }
  @media (max-width: 768px) {
    .nav-phone .menu {
      margin-bottom: 18px; } }
  @media (max-width: 414px) {
    .nav-phone .menu {
      display: none;
      margin-bottom: 0; } }
  .nav-phone .menu li:nth-child(1), .nav-phone .menu li:nth-child(2), .nav-phone .menu li:nth-child(3), .nav-phone .menu li:nth-child(4) {
    margin-right: 28px; }
    @media (max-width: 768px) {
      .nav-phone .menu li:nth-child(1), .nav-phone .menu li:nth-child(2), .nav-phone .menu li:nth-child(3), .nav-phone .menu li:nth-child(4) {
        margin-right: 20px; } }
  .nav-phone .menu li a {
    padding: 10px; }
    .nav-phone .menu li a:hover {
      background-color: #fff;
      color: #AA0601;
      border-radius: 10px; }

.contact-method {
  margin-bottom: 24px; }
  @media (max-width: 768px) {
    .contact-method {
      margin-bottom: 20px; } }
  .contact-method li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .contact-method li:nth-child(1) {
      margin-bottom: 16px; }
      @media (max-width: 768px) {
        .contact-method li:nth-child(1) {
          margin-bottom: 12px; } }
    .contact-method li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 36px;
      line-height: 1.5; }
      @media (max-width: 768px) {
        .contact-method li a {
          font-size: 20px;
          line-height: 1.5; } }
      @media (max-width: 414px) {
        .contact-method li a {
          font-size: 16px; } }
      .contact-method li a:hover {
        color: #ffaeab; }
      .contact-method li a img {
        width: 36px;
        height: 36px;
        margin-right: 22px; }
        @media (max-width: 768px) {
          .contact-method li a img {
            width: 18px;
            height: 18px;
            margin-right: 11px; } }
        @media (max-width: 414px) {
          .contact-method li a img {
            width: 15px;
            height: 15px;
            margin-right: 6.5px; } }

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .social-media li:nth-child(1), .social-media li:nth-child(2) {
    margin-right: 32px; }
    @media (max-width: 768px) {
      .social-media li:nth-child(1), .social-media li:nth-child(2) {
        margin-right: 24px; } }
  .social-media li img {
    width: 48px;
    height: 48px; }
    @media (max-width: 768px) {
      .social-media li img {
        width: 24px;
        height: 24px; } }

hr {
  border: solid 1px  white;
  border-bottom: 0px;
  border-left: 0px;
  margin-bottom: 32px; }
  @media (max-width: 768px) {
    hr {
      margin-bottom: 16px; } }

.copyright p {
  color: white; }
  @media (max-width: 414px) {
    .copyright p {
      font-size: 14px;
      line-height: 1.5;
      margin-bottom: 8px; } }

.clause {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  @media (max-width: 414px) {
    .clause {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; } }
  .clause a {
    margin-left: 24px; }
    .clause a:hover {
      color: #ffaeab; }
    @media (max-width: 414px) {
      .clause a {
        margin: 0; }
        .clause a:nth-child(1) {
          margin-bottom: 8px; } }

.banner {
  height: 840px;
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 768px) {
    .banner {
      background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-sm.png?raw=true"); } }
  @media (max-width: 414px) {
    .banner {
      height: 394px; } }

.banner-txt {
  color: #650300;
  margin-left: 50%; }
  @media (max-width: 768px) {
    .banner-txt {
      margin-left: 35%; } }
  @media (max-width: 414px) {
    .banner-txt {
      margin-left: 15%; } }
  .banner-txt p {
    text-align: right;
    padding-right: 7px;
    font-size: 36px;
    line-height: 1.5; }
    @media (max-width: 768px) {
      .banner-txt p {
        font-size: 20px;
        line-height: 1.5; } }
    @media (max-width: 414px) {
      .banner-txt p {
        font-size: 16px; } }
  .banner-txt h2 {
    font-size: 64px;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 0; }
    @media (max-width: 768px) {
      .banner-txt h2 {
        font-size: 48px;
        line-height: 1.5; } }
    @media (max-width: 414px) {
      .banner-txt h2 {
        font-size: 32px; } }

.intro {
  background-color: #AA06010D; }
  .intro .service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 768px) {
      .intro .service {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly; } }
    .intro .service li {
      max-width: 255px;
      text-align: center; }
      @media (max-width: 768px) {
        .intro .service li {
          width: 50%; }
          .intro .service li:nth-child(1), .intro .service li:nth-child(2) {
            margin-bottom: 57px; } }
      @media (max-width: 414px) {
        .intro .service li {
          width: 100%; }
          .intro .service li:nth-child(1), .intro .service li:nth-child(2), .intro .service li:nth-child(3) {
            margin-bottom: 40px; } }
      .intro .service li img {
        width: 84px;
        height: 84px;
        margin: 0 auto;
        margin-bottom: 24px; }
      .intro .service li h3 {
        font-size: 24px;
        line-height: 1.5;
        color: #650300;
        font-weight: bold;
        margin-bottom: 8px; }
      .intro .service li p {
        text-align: left; }

.glasses li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  position: relative;
  cursor: pointer; }
  .glasses li:nth-child(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  @media (max-width: 768px) {
    .glasses li {
      margin-bottom: 8px; }
      .glasses li:nth-child(2) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }
  .glasses li img {
    width: 635px; }
    @media (max-width: 768px) {
      .glasses li img {
        width: 50%; } }
    @media (max-width: 414px) {
      .glasses li img {
        width: 100%; } }

.cata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 44px; }
  @media (max-width: 768px) {
    .cata {
      margin: 0 31px; } }
  @media (max-width: 414px) {
    .cata {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
          -ms-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%);
      margin: 0; } }
  .cata .icon {
    width: 44px;
    height: 44px;
    margin-right: 10px; }
    @media (max-width: 768px) {
      .cata .icon {
        width: 36px;
        height: 36px; } }
  .cata h3 {
    color: #AA0601;
    font-style: italic;
    font-size: 48px;
    line-height: 1.5;
    font-weight: bold; }
    @media (max-width: 768px) {
      .cata h3 {
        font-size: 28px; } }

.joint-design {
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .joint-design .container h2 {
    color: white; }

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 414px) {
    .items {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  .items li {
    position: relative; }
    @media (max-width: 768px) {
      .items li {
        width: 50%; } }
    @media (max-width: 414px) {
      .items li {
        width: 100%;
        margin-bottom: 16px; } }
    .items li:before {
      width: 100%;
      height: 100%;
      content: "";
      position: absolute;
      display: inline-block;
      top: 0%;
      background-color: rgba(255, 255, 255, 0.5); }
    .items li h3 {
      font-size: 72px;
      line-height: 1.5;
      color: #AA0601;
      font-weight: bold;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
          -ms-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%); }
      @media (max-width: 768px) {
        .items li h3 {
          font-size: 32px;
          line-height: 25px; } }

.pic1 {
  margin-right: 30px; }
  @media (max-width: 414px) {
    .pic1 {
      margin-right: 0; } }
  .pic1 h3 {
    width: 100%;
    text-align: center; }

.recommend .card-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 768px) {
    .recommend .card-wrap {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  @media (max-width: 414px) {
    .recommend .card-wrap {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.card {
  -webkit-box-shadow: 0px 2px 6px #00000029;
          box-shadow: 0px 2px 6px #00000029;
  border: -1px solid #DEE2E6;
  border-radius: 4px;
  width: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (max-width: 768px) {
    .card {
      width: 48%; } }
  .card:nth-child(1), .card:nth-child(2) {
    margin-bottom: 32px; }
  @media (max-width: 414px) {
    .card {
      width: 100%; } }
  .card:nth-child(1), .card:nth-child(2), .card:nth-child(3) {
    margin-bottom: 16px; }
  .card img {
    width: 100%;
    border-radius: 4px 4px 0px 0px; }

.card-body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px; }
  .card-body .card-txt .name {
    margin-bottom: 8px; }
  .card-body .card-txt p {
    margin-bottom: 52px; }
  .card-body .time {
    color: #707070; }

.contact {
  background-color: #AA06010D; }
  .contact .container {
    max-width: 730px; }
    .contact .container .explain {
      font-size: 20px;
      line-height: 1.5;
      margin-bottom: 20px; }
      @media (max-width: 768px) {
        .contact .container .explain {
          margin-bottom: 16px;
          line-height: 1.5; } }

.form .questions li {
  padding-bottom: 16px; }
  @media (max-width: 768px) {
    .form .questions li {
      margin-bottom: 8px; } }
  .form .questions li .title {
    padding-bottom: 4px; }
  .form .questions li input {
    padding: 13px;
    width: 100%;
    border: solid 1px #000;
    background-color: transparent; }
  .form .questions li .opinion {
    padding-bottom: 100px; }
    @media (max-width: 768px) {
      .form .questions li .opinion {
        padding-bottom: 72px; } }

.remind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px; }
  @media (max-width: 768px) {
    .remind {
      margin-bottom: 20px; } }
  .remind .checkbox {
    width: 24px;
    height: 24px;
    background-color: transparent;
    margin-right: 4px; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .btn a {
    background-color: #AA0601;
    text-align: center;
    width: 48%;
    padding: 15px 0; }
    .btn a:active {
      width: 47%;
      padding: 13px 0; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1110px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff; }
  @media (max-width: 768px) {
    .nav {
      padding: 0 39px; } }
  @media (max-width: 414px) {
    .nav {
      padding: 0 15px; } }
  .nav li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: solid 1px #DCDCDC;
    width: 100%; }

.nav img {
  width: 44px;
  height: 44px;
  margin-right: 10px; }
  @media (max-width: 768px) {
    .nav img {
      width: 29px;
      height: 29px;
      margin-right: 9px; } }
  @media (max-width: 414px) {
    .nav img {
      width: 14px;
      height: 14px;
      margin-right: 2px; } }

.nav li a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 32px;
  line-height: 1.5;
  padding: 26.5px; }
  @media (max-width: 768px) {
    .nav li a {
      padding: 15px 0; } }
  @media (max-width: 414px) {
    .nav li a {
      padding: 0px;
      padding: 6px 0; } }
  .nav li a h3 {
    font-size: 32px;
    line-height: 1.5;
    color: #000; }
    @media (max-width: 768px) {
      .nav li a h3 {
        font-size: 24px;
        line-height: 50px; } }
    @media (max-width: 414px) {
      .nav li a h3 {
        font-size: 14px;
        line-height: 1; } }

.active {
  border-bottom: 8px solid #AA0601 !important; }
  @media (max-width: 414px) {
    .active {
      border-bottom: 4px solid #AA0601 !important; } }

.product-p1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .product-p1 li {
    width: 23%;
    margin-bottom: 104px; }
    @media (max-width: 768px) {
      .product-p1 li {
        width: 48%;
        margin-bottom: 72px; } }
    @media (max-width: 414px) {
      .product-p1 li {
        width: 100%;
        margin-bottom: 32px; } }

.pics {
  width: 100%;
  height: 164px;
  -o-object-fit: cover;
     object-fit: cover; }

.tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .tag p {
    font-size: 24px;
    line-height: 1.5; }
  .tag .price {
    color: #AA0601; }

.colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .colors .color1, .colors .color2 {
    width: 24px;
    height: 24px;
    border-radius: 4px; }
  .colors .color1 {
    background-color: #5F3E2D;
    margin-right: 5px; }
  .colors .color2 {
    background-color: #B75929; }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.page_num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .page_num li a {
    font-size: 18px;
    line-height: 1.5;
    padding: 12px 16px;
    border: solid 1px #000;
    color: black; }
    .page_num li a:hover {
      background-color: #000;
      color: white; }
      .page_num li a:hover:not(.pageBtn) {
        background-color: #F2F2F2;
        color: black; }
    @media (max-width: 414px) {
      .page_num li a {
        padding: 10px 12px;
        font-size: 16px;
        line-height: 1.5; } }

.pageBtn {
  font-size: 19px;
  line-height: 1.5;
  background-color: #F2F2F2;
  color: black; }
  .pageBtn a {
    padding: 12px 12px; }
    @media (max-width: 414px) {
      .pageBtn a {
        font-size: 16px;
        line-height: 1.5;
        padding: 10px 12px; } }

.pics {
  width: 100%;
  height: 224px;
  -o-object-fit: cover;
     object-fit: cover; }

.product-p2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .product-p2 li {
    width: 32%;
    margin-bottom: 104px; }
    .product-p2 li:nth-last-child(1), .product-p2 li:nth-last-child(2), .product-p2 li:nth-last-child(3) {
      margin-bottom: 0px; }
    @media (max-width: 768px) {
      .product-p2 li {
        width: 48%;
        margin-bottom: 72px; } }
    @media (max-width: 414px) {
      .product-p2 li {
        width: 100%;
        margin-bottom: 32px; } }

.location-container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 96px 0 160px 0; }
  @media (max-width: 768px) {
    .location-container {
      padding: 60px 39px 96px 39px; } }
  @media (max-width: 414px) {
    .location-container {
      padding: 28px 15px 56px 15px; } }

.locationTitle {
  border-left: 8px solid #AA0601;
  padding-left: 16px;
  margin-bottom: 60px; }
  @media (max-width: 768px) {
    .locationTitle {
      border-left: 4px solid #AA0601;
      margin-bottom: 40px; } }
  .locationTitle h2 {
    width: 192px;
    font-size: 48px;
    line-height: 80px;
    color: #495057; }

.selectStore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px; }
  .selectStore p {
    font-size: 20px;
    line-height: 30px; }
    @media (max-width: 768px) {
      .selectStore p {
        font-size: 16px; } }
    @media (max-width: 414px) {
      .selectStore p {
        width: 20%;
        font-size: 14px; } }
  .selectStore .stores {
    margin-left: 22px;
    width: 29%;
    padding: 9px 19px; }
    @media (max-width: 768px) {
      .selectStore .stores {
        padding: 12px 16px;
        width: 31%; } }
    @media (max-width: 414px) {
      .selectStore .stores {
        margin-left: 12px;
        width: 80%; } }
    .selectStore .stores option {
      font-size: 18px;
      line-height: 1.5;
      padding: 9px 19px; }

.infoMap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 768px) {
    .infoMap {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

.siteCard {
  width: 30%;
  margin-right: 30px;
  margin-bottom: 32px; }
  .siteCard:nth-last-child(1), .siteCard:nth-last-child(2) {
    margin-bottom: 0; }
  @media (max-width: 768px) {
    .siteCard {
      width: 46%; }
      .siteCard:nth-child(even) {
        margin-right: 0px; } }
  @media (max-width: 414px) {
    .siteCard {
      width: 100%;
      margin-right: 0px; }
      .siteCard:nth-last-child(2) {
        margin-bottom: 32px; } }
  .siteCard img {
    width: 100%;
    height: 224px; }
    @media (max-width: 768px) {
      .siteCard img {
        width: 100%;
        height: auto; } }
    @media (max-width: 414px) {
      .siteCard img {
        width: 100%;
        margin-right: 0; } }

@media (max-width: 768px) {
  .sitecardBody {
    width: 100%; } }

.sitecardBody h3 {
  font-size: 24px;
  line-height: 1.5;
  padding: 12px 24px;
  border: 1px solid #00000029; }
  @media (max-width: 768px) {
    .sitecardBody h3 {
      font-weight: bold;
      font-size: 16px;
      line-height: 1.5;
      padding: 8px 16px; } }

.sitecardBody ul {
  padding: 16px 26px;
  border: 1px solid #00000029; }
  @media (max-width: 768px) {
    .sitecardBody ul {
      padding: 16px 24px; } }
  .sitecardBody ul li:nth-child(1), .sitecardBody ul li:nth-child(2) {
    margin-bottom: 8px; }

.sitecardBody a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black; }
  .sitecardBody a img {
    margin-right: 10px;
    width: 18px;
    height: 18px; }
  .sitecardBody a p {
    width: 100%;
    font-size: 20px;
    line-height: 30px; }
    @media (max-width: 768px) {
      .sitecardBody a p {
        font-size: 14px;
        line-height: 1.5; } }

.sitecardBody .locationBtn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 19px;
  line-height: 1.5;
  padding: 20px 0;
  background-color: #000;
  color: white; }

.infoMapCenter {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 768px) {
    .infoMapCenter {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }

.sitecardCenter {
  width: 40%; }
  @media (max-width: 768px) {
    .sitecardCenter {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 0;
      margin-right: 0; } }
  @media (max-width: 414px) {
    .sitecardCenter {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .sitecardCenter:nth-last-child(2) {
        margin-bottom: 0px; } }
  @media (max-width: 768px) {
    .sitecardCenter img {
      width: 50%;
      margin-right: 30px; } }
  @media (max-width: 414px) {
    .sitecardCenter img {
      width: 100%;
      margin-right: 0; } }

.googleMap {
  overflow: hidden; }
  .googleMap iframe {
    width: 670px;
    height: 456px;
    display: block; }
    @media (max-width: 768px) {
      .googleMap iframe {
        margin-top: 32px;
        width: 670px;
        height: 422px; } }
    @media (max-width: 414px) {
      .googleMap iframe {
        width: 670px;
        height: 211px; } }

/*# sourceMappingURL=all.css.map */
