@mixin size($w,$h){
    width: $w;
    height: $h;
  }
@mixin pad{
  @media (max-width:768px){
    @content
  }
}
  
@mixin mobile{
  @media (max-width:376px){
    @content
  }
}
    
@mixin img{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

$primary: #AA0601;
$secondary: #650300;
$tertiary: #AA06010D;
$shadow-color: #00000029;
$gray: #707070;
$light-gray: #DCDCDC;
////
$g-dark:#5F3E2D;
$g-light:#B75929;
$page:#F2F2F2;