.glasses{
    li{
      display: flex;
      margin-bottom: 32px;
      position: relative;
      cursor: pointer;
      &:nth-child(2){
          flex-direction: row-reverse;
      }
      @include pad{
          margin-bottom: 8px;
          &:nth-child(2){
            flex-direction: row;
        }
      }
      img{
          width:635px;
          @include pad{
          width: 50%;
          }
          @include mobile{
          width: 100%;
          }
      }
    }
  }

.cata{
    display: flex;
    align-items: center;
    margin: 0 44px;
    @include pad{
      margin:0 31px ;
    }
    @include mobile{
      @include center;
      margin: 0;
    }
    .icon{
      @include size(44px,44px);
        margin-right: 10px;
      @include pad{
        @include size(36px,36px);
    }
  }
        
    h3{
    color:$primary;
    font-style: italic;
    font-size: 48px;
    line-height: 1.5;
    font-weight: bold;
    @include pad{
        font-size: 28px;
    }
  }
}