.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary;
    padding: 30px 88px ;
    position: sticky;
    top:0 ;
    z-index:1;
    @include pad{
      padding: 30px 39px;
    }
    @include mobile{
      flex-wrap: wrap ; 
      padding: 0;
    }
    .logo{
      @include mobile{
        margin:0 auto;
        padding: 10px 0;
      }
      a{
        background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true");
        // @include size(80px, 48.57px)
        width: 80px;
        height: 48.57px;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
      }
    }
    .menu{
      display: flex;
      @include mobile{
        flex-wrap: wrap;
        width:100%;
      }
      li{
        margin-left: 44px;
        flex-wrap: wrap;
        &:nth-child(1){
          margin-left: 0;
        }
        @include pad{
          margin-left: 20px;
          &:nth-child(1){
            margin-left: 0;
          }
        }
        @include mobile{
          margin: 0;
          text-align: center;
          outline: 1px solid #fff;
          width: 50%;
        }
        a{
          padding: 10px;
          font-size: 20px;
          line-height: 1.5;
          &:hover{
            background-color: #fff;
            color: $primary;
            border-radius: 10px;
          }
          @include mobile{
            padding: 7.5px 0;  
            &:hover{
              border-radius:0;
            }
          }
        }
      }
    }
  }
  
  .menu{
    display: flex;
    @include mobile{
      flex-wrap: wrap;
      width: 100%;
    }
    li{
      margin-left: 44px;
      flex-wrap: wrap;
      &:nth-child(1){
        margin-left: 0;
      }
      @include pad{
        margin-left: 20px;
      }
      @include mobile{
        margin: 0;
        text-align: center;
        outline: 1px solid #fff;
        width: 50%
      }
    }
  }